html {
    background-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

nav {
    display: flex;
    flex-direction: column;
    background-color:#404040;
}

#modo-buttons {
    margin-left: auto;
    padding: 1rem;
}

#modo-claro,
#modo-escuro {
    padding: 8px 12px;
    border: 1px solid #404040;
    background-color: transparent;
    color: #404040;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 20px;
}

#modo-claro:hover,
#modo-escuro:hover {
    background-color: #404040;
    color: white;
}

header {
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    /* margin-block-end: 0; */
}

header p {
    color: white;
    display: flex;
    padding-bottom: 2rem;
    margin-top: 0;
    font-family:'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

i {
    margin-right: 0.5rem;
}

ul {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    background-color: #404040;
    margin-block: 0;
    justify-content: center;
}

a {
    display: flex;
    text-decoration: none;
    color: white;
    
}

#menu-favs {
    color: gold;
    font-weight: 700;
    text-transform: uppercase;
}

li {
    color: white;
    padding: 1.5rem;
    display: flex;
    /* justify-content: center; */
    font-weight: 700;
}

ul :hover {
    background-color: #5f5f5f;
    transition: 0.5s;
}

main {
    display: flex;
    flex-direction: column;
    /* background-color:black; */
    height: auto;
}

#welcome {
    /* display: flex; */
    color: black;
    justify-content: center;
    margin-top: 20rem;
}

.main-content {
    display: flex;
    color: grey;
    background-color: #ddd;
    padding: 2rem;
    margin-top: 0;
}

.esconder-conteudo {
    display: none;
  }
  
  .exibir-conteudo {
    display: flex;
  }

.menu-selecionado {
background-color: #5f5f5f;
}

.menu-normal {
background-color: #404040;
}

#filmes-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.filme {

display: flex;
flex-direction: column;
width: 40vh;
height: 70vh;
color: white;
background-color:#33333375;
border-radius: 8px;
margin: 5rem 2rem 2rem 2rem;
}

.filme h3 {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.filme p {
display: flex;
justify-content: center;
margin: 0.2rem;
font-size: 0.8rem;
}

.filme img {
padding: 2rem;
width: auto;
height: auto;
}

#series-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.serie {

display: flex;
flex-direction: column;
width: 40vh;
height: 70vh;
color: white;
background-color:#33333375;
border-radius: 8px;
margin: 5rem 2rem 2rem 2rem;
}

.serie h3 {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.serie p {
display: flex;
justify-content: center;
margin: 0.2rem;
font-size: 0.8rem;
}

.serie img {
padding: 2rem;
width: auto;
height: auto;
}

#animes-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.anime {

display: flex;
flex-direction: column;
width: 40vh;
height: 70vh;
color: white;
background-color:#33333375;
border-radius: 8px;
margin: 5rem 2rem 2rem 2rem;
}

.anime h3 {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.anime p {
display: flex;
justify-content: center;
margin: 0.2rem;
font-size: 0.8rem;
}

.anime img {
padding: 2rem;
width: auto;
height: auto;
}

#buttons {
    display: flex;
    justify-content: center;
}

#add-button {
    width: 14rem;
    height: 3rem;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#rmv-button {
    /* display: flex; */
    width: 10rem;
    height: 3rem;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-left: 1rem;
    /* margin-right: 1rem; */
}

.fa-trash-can {
    align-self: flex-end;
    margin-top: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    /* color: #ff0000; */
    font-size: 20px;
}

#add-dialog {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #ddd;
    padding: 2rem 4rem 2rem 4rem;
    border-style:solid;
    border-color:antiquewhite;
    margin-top: 22rem;
}

button[type="submit"],
button[type="button"] {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
    margin: 10px;
    font-weight: 700;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #ccc;
    color: #fff;
}

#add-form {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

input {
    width: 15rem;
    background-color:rgba(250, 235, 215, 0.534);
}
